@use "src/scss/_variables.scss" as *;

.container {
    margin-left: 0;
    margin-right: 0;
}

.container .nav-item {
    list-style-type: none;
} 

.row > * {
    width: fit-content !important;
}

.background {
    background-image: linear-gradient($primary, darken($primary, 30%));
}